/*Home Page*/

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif ;
}
header{
    background-color: rgb(56, 56, 56);
    box-shadow: 2px 2px 2px  rgb(56, 56, 56);
    border: 1px solid rgb(56, 56, 56);
    border-color: transparent;
}
header img{
    width:140px;
    height:80px;
}
header img:hover{
    cursor: pointer;
}
ul{ 
    float: right;
    margin-top: 34px;
    margin-right: 20px;
}
ul li{
    list-style-type: none;
    display: inline;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 30px;
}
ul li a:hover{
    color: red;
}
.img1{
    background-repeat: no-repeat;
    background-size: 100%;
}
.section1{
    text-align: center;
    font-size: 20px;
}
.section2{
    display: flex;
}
.section2 p{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
}
.section2 img{
    margin-right: 30px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10px ;
}
button{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 46.5%;
    margin-bottom: 20px;
}
button a{
    text-decoration: none;
    color: black;
}
button:hover{
    background-color: rgb(255, 2, 2);
    transform: scale(1.1); 
}
footer{
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    font-size: 12px;
    border: 1px solid transparent;
    position: absolute;
    width: 99.7%;
}
.icons i{
    padding: 5px;
    font-size: 17px;
}
.icons i:hover{
    cursor: pointer;
    color: red;
}

/*Media Query*/


@media screen and (max-width: 600px) {
    header img{
        width:60px;
        height:60px;
    }
    ul{
        float: right;
        margin-top: 22px;
        margin-right: 10px;
    }
    ul li a{
        font-size: 10px;
        padding: 9px;
    }
    .section1 h1{
        font-size: 20px;
    }
    .section2{
        display: block;
    }
    .section2 p{
        margin-top: 17px;
        margin-left: 15px;
        margin-right: 25px;
        text-align: center;
        font-size: 12px;
    }
    .section2 img{
        width: 70%;
        margin-left: 50px;
        margin-top: 15px;
        border: 1px solid white;
        border-radius: 10px ;
    }
    button{
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        margin-left: 39%;
        margin-bottom: 20px;
    }
    footer{
        position: relative;
        bottom: 0;
        text-align: center;
        font-size: 11px;
    }
    .footer1 p{
        font-size: 12px;
    }
}